body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Helvetica 25';
  src: url('./Fonts/HelveticaNeue-UltraLight.eot');
  src: url('./Fonts/HelveticaNeue-UltraLight.eot?#iefix')
      format('embedded-opentype'),
    url('./Fonts/HelveticaNeue-UltraLight.woff2') format('woff2'),
    url('./Fonts/HelveticaNeue-UltraLight.woff') format('woff'),
    url('./Fonts/HelveticaNeue-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Condensed';
  src: url('./Fonts/helvetica-condensed.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

table tr td:first-child,
th:first-child {
  border-left: none;
}

table tr:first-child th {
  border-top: none;
}

table tr td:last-child,
th:last-child {
  border-right: none;
}

table tr:last-child td {
  border-bottom: none;
}
